$color1: black;
$color2: white;
$color3: #C31815;
$color4: #0E1E32;

@mixin flex-container($justify: center, $width: 100%) {
    display: flex;
    align-items: center;
    justify-content: $justify;
    width: $width;
}

@mixin button {
    color: $color2;
    background-color: $color3;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
}